#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 5em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #DEFEF7);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.infocard {
  border-radius: 28px;
  color: #22194E;
  background-color: rgba(222, 254, 247, 0.9);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (prefers-color-scheme: light) {
  .logo:hover {
    filter: drop-shadow(0 0 2em #22194E);
  }
  .infocard {
    background-color: rgba(34, 25, 78, 0.9);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    color: #DEFEF7;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.logo-name {
  will-change: filter;
  transition: filter 300ms;
}
.logo-name:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react-name:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.link {
  will-change: filter;
  transition: filter 200ms;
}

.link:hover {
  filter: drop-shadow(0 0 1em #646cffaa);
}
 